{{define "client/profile/info-panel"}}

<h2 class="h4 mb-3 text-gray-800 mt-4">General Information</h2>
<div class="py-4">
  <img
    class="rounded-circle avatar-img"
    style="width: 150px; height: 150px"
    alt="Avatar"
  />
  <div class="mt-1">
    <input type="file" id="avatarUpload" />
  </div>
</div>
<div class="p-2">
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Given name</div>
    <div class="col-sm-12 col-md-6">{{.profile.GivenName}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Middle name/initial</div>
    <div class="col-sm-12 col-md-6">{{.profile.MiddleName}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Surname</div>
    <div class="col-sm-12 col-md-6">{{.profile.Surname}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Date of Birth</div>
    <div class="col-sm-12 col-md-6">{{.profile.DateOfBirth}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Gender</div>
    <div class="col-sm-12 col-md-6" style="text-transform: capitalize">
      {{.profile.Gender}}
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Address</div>
    {{if eq (len .profile.Address) 0}}
    <div class="col-sm-12 col-md-4 d-flex align-items-center">
      <small class="text-danger">Please provide your address.</small>
    </div>
    {{else}}
    <div class="col-sm-12 col-md-4">{{.profile.Address}}</div>
    {{end}} {{if eq (len .profile.Address) 0}}
    <div class="col-sm-12 col-md-2">
      <button
        id="editAddressBtn"
        class="btn btn-outline-primary"
        data-toggle="tooltip"
        title="Edit Address"
      >
        <i class="fas fa-edit"></i>
      </button>
    </div>
    {{end}}
  </div>
</div>
<hr />
<h2 class="h4 mb-3 text-gray-800">Account and Contact Information</h2>
<div class="p-2">
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Email</div>
    <div class="col-sm-12 col-md-4">{{.profile.Email}}</div>
    <div
      class="col-sm-12 col-md-2 d-flex flex-column"
      id="emailVerificationCol"
    >
      {{if .profile.IsVerified}}
      <span class="text-success">Email Verified.</span>
      {{else}}
      <span class="text-danger">Email not verified.</span>
      <a
        class="small text-decoration-underline"
        id="sendVerificationButton"
        role="button"
        >Send Verification Email</a
      >
      {{end}}
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Mobile number</div>
    {{if eq (len .profile.MobileNumber) 0}}
    <div class="col-sm-12 col-md-4 d-flex align-items-center">
      <small class="text-danger">Please provide your mobile number.</small>
    </div>
    {{else}}
    <div class="col-sm-12 col-md-4">{{.profile.MobileNumber}}</div>
    {{end}} {{if eq (len .profile.MobileNumber) 0}}
    <div class="col-sm-12 col-md-2">
      <button
        id="editMobileNumberBtn"
        class="btn btn-outline-primary"
        data-toggle="tooltip"
        title="Edit Mobile Number"
      >
        <i class="fas fa-edit"></i>
      </button>
    </div>
    {{end}}
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">
      Emergency contact number
    </div>
    {{if eq (len .profile.EmergencyContact) 0}}
    <div class="col-sm-12 col-md-4 d-flex align-items-center">
      <small class="text-danger">Please provide your emergency contact.</small>
    </div>
    {{else}}
    <div class="col-sm-12 col-md-4">{{.profile.EmergencyContact}}</div>
    {{end}} {{if eq (len .profile.EmergencyContact) 0}}
    <div class="col-sm-12 col-md-2">
      <button
        id="editEmergencyContactBtn"
        class="btn btn-outline-primary"
        data-toggle="tooltip"
        title="Edit Emergency Contact"
      >
        <i class="fas fa-edit"></i>
      </button>
    </div>
    {{end}}
  </div>
  <hr />
</div>
<h2 class="h4 mb-3 text-gray-800">Membership Status</h2>
{{ if .isMember}}
<div class="p-2">
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Membership Plan</div>
    <div class="col-sm-12 col-md-6">
      {{.member.MembershipSnapshot.Description}}
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Valid Until</div>
    <div class="col-sm-12 col-md-6">{{.member.ValidUntil}}</div>
  </div>
  <hr />
</div>
{{else}}
<div class="w-100 text-center bg-gray-100 p-5">
  <div class="d-flex flex-column" style="gap: 5px">
    <i class="far fa-frown display-4"></i>
    <div>You are currently not a member.</div>
    <a href="/clients/membership-requests" class="small nav-underline"
      >Subscribe for membership here</a
    >
  </div>
</div>
{{end}} {{end}}
