{{define "client/profile/info-panel"}}

<h2 class="h4 mb-3 text-gray-800 mt-4">General Information</h2>
<div class="p-2">
  <div class="row">
    <div class="col font-weight-bold">Given name</div>
    <div class="col">{{.profile.GivenName}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col font-weight-bold">Middle name/initial</div>
    <div class="col">{{.profile.MiddleName}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col font-weight-bold">Surname</div>
    <div class="col">{{.profile.Surname}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col font-weight-bold">Date of Birth</div>
    <div class="col">{{.profile.DateOfBirth}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col font-weight-bold">Address</div>
    <div class="col">{{.profile.Address}}</div>
  </div>
</div>
<hr />
<h2 class="h4 mb-3 text-gray-800">Account and Contact Information</h2>
<div class="p-2">
  <div class="row">
    <div class="col font-weight-bold">Email</div>
    <div class="col">{{.profile.Email}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col font-weight-bold">Mobile number</div>
    <div class="col">{{.profile.MobileNumber}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col font-weight-bold">Emergency contact number</div>
    <div class="col">{{.profile.EmergencyContact}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col font-weight-bold">Account Status</div>
    <div class="col font-weight-bold text-warning">Not Verified</div>
  </div>
</div>

{{end}}
