{{define "client/profile/info-panel"}}

<h2 class="h4 mb-3 text-gray-800 mt-4">General Information</h2>
<div class="p-2">
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Given name</div>
    <div class="col-sm-12 col-md-6">{{.profile.GivenName}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Middle name/initial</div>
    <div class="col-sm-12 col-md-6">{{.profile.MiddleName}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Surname</div>
    <div class="col-sm-12 col-md-6">{{.profile.Surname}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Date of Birth</div>
    <div class="col-sm-12 col-md-6">{{.profile.DateOfBirth}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Address</div>
    <div class="col-sm-12 col-md-6">{{.profile.Address}}</div>
  </div>
</div>
<hr />
<h2 class="h4 mb-3 text-gray-800">Account and Contact Information</h2>
<div class="p-2">
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Email</div>
    <div class="col-sm-12 col-md-4">{{.profile.Email}}</div>
    <div
      class="col-sm-12 col-md-2 d-flex flex-column"
      id="emailVerificationCol"
    >
      {{if .profile.IsVerified}}
      <span class="text-success">Email Verified.</span>
      {{else}}
      <span class="text-danger">Email not verified.</span>
      <a
        class="small text-decoration-underline"
        id="sendVerificationButton"
        role="button"
        >Send Verification Email</a
      >
      {{end}}
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Mobile number</div>
    <div class="col-sm-12 col-md-6">{{.profile.MobileNumber}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">
      Emergency contact number
    </div>
    <div class="col-sm-12 col-md-6">{{.profile.EmergencyContact}}</div>
  </div>
  <hr />
</div>
<h2 class="h4 mb-3 text-gray-800">Membership Status</h2>
{{ if .isMember}}
<div class="p-2">
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Membership Plan</div>
    <div class="col-sm-12 col-md-6">{{.member.MembershipPlan.Description}}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 font-weight-bold">Valid Until</div>
    <div class="col-sm-12 col-md-6">{{.member.ValidUntil}}</div>
  </div>
  <hr />
</div>
{{else}}
<div class="w-100 text-center bg-gray-100 p-5">
  <div class="d-flex flex-column" style="gap: 5px">
    <i class="far fa-frown display-4"></i>
    <div>You are currently not a member.</div>
    <a href="/clients/membership-requests" class="small nav-underline"
      >Subscribe for membership here</a
    >
  </div>
</div>
{{end}} {{end}}
