{{define "client/profile/main"}}
<!DOCTYPE html>
<html lang="en">
  {{template "partials/sb-head" .}}

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      {{template "partials/client/sidebar" .}}
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          {{template "partials/client/dashboard-topbar" .}}
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            {{template "partials/dashboard-page-heading" .}} {{if or (eq (len
            .profile.Address) 0) (eq (len .profile.MobileNumber) 0) (eq (len
            .profile.EmergencyContact) 0) (not .profile.IsVerified)}}
            <div class="alert alert-warning" role="alert">
              To access full feature of the portal, Please verify your account
              and make sure that your information is complete.
            </div>
            {{end}}
            <div class="card shadow mb-4 p-5">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="information-tab"
                    data-toggle="tab"
                    href="#information-panel"
                    role="tab"
                    aria-controls="information"
                    aria-selected="true"
                    >Information</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="password-tab"
                    data-toggle="tab"
                    href="#password-panel"
                    role="tab"
                    aria-controls="password"
                    aria-selected="false"
                    >Change Password</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="profileTabContent">
                <div
                  class="tab-pane fade show active"
                  id="information-panel"
                  role="tabpanel"
                  aria-labelledby="info-tab"
                >
                  {{ template "client/profile/info-panel" .}}
                </div>
                <div
                  class="tab-pane fade"
                  id="password-panel"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  {{template "client/profile/password-panel" .}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    {{template "client/profile/edit-modal" .}} {{template
    "client/profile/edit-address-modal" .}}
  </body>

  {{template "partials/sb-scripts"}}

  <script src="https://unpkg.com/filepond-plugin-file-rename/dist/filepond-plugin-file-rename.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
  <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
  <script>
    const isVerified = "{{.profile.IsVerified}}" === "true";
    const lastEmailVerificationSentExpiry = new Date(
      "{{.emailVerification.ExpiresAt}}"
    );

    const datetimeNow = new Date();
    const sendVerificationButton = document.querySelector(
      "#sendVerificationButton"
    );
    const replaceSendVerificationEmailButton = () => {
      sendVerificationButton.remove();
      const small = document.createElement("small");
      small.classList.add("text-primary");
      small.textContent = "A verification is sent to your email address.";
      document.querySelector("#emailVerificationCol").append(small);
    };
    if (!isVerified) {
      const sendEmailVerificationRequest = async () => {
        try {
          const response = await fetch("/clients/profile/verification", {
            method: "POST",
            headers: new Headers({
              "content-type": "application/json",
              "X-CSRF-Token": "{{.csrf}}",
            }),
          });
        } catch (e) {
          console.error(e);
        }
      };
      sendVerificationButton.addEventListener("click", (e) => {
        sendEmailVerificationRequest().then(() => {
          replaceSendVerificationEmailButton();
        });
      });
    }
    if (datetimeNow < lastEmailVerificationSentExpiry) {
      replaceSendVerificationEmailButton();
    }
  </script>

  <script>
    const changePasswordForm = document.querySelector("#changePasswordForm");
    const oldPasswordGroup = document.querySelector("#oldPasswordGrp");
    const newPasswordGroup = document.querySelector("#newPasswordGrp");

    const resetChangePasswordErrors = () => {
      oldPasswordGroup.querySelector("input").classList.remove("is-invalid");
      oldPasswordGroup
        .querySelector(".invalid-feedback")
        .classList.remove("d-block");
      oldPasswordGroup.querySelector(".invalid-feedback").textContent = "";

      newPasswordGroup.querySelector("input").classList.remove("is-invalid");
      newPasswordGroup
        .querySelector(".invalid-feedback")
        .classList.remove("d-block");
      newPasswordGroup.querySelector(".invalid-feedback").textContent = "";
    };
    changePasswordForm.addEventListener("submit", async (event) => {
      event.preventDefault();
      resetChangePasswordErrors();
      const formData = new FormData(event.target);

      const response = await fetch("/clients/profile/password", {
        body: formData,
        method: "PATCH",
        headers: new Headers({
          "X-CSRF-Token": "{{.csrf}}",
        }),
      });
      const { data } = await response.json();
      if (response.status === 200) {
        Swal.fire(
          "Change Password",
          "Your password has been changed.",
          "success"
        );
        oldPasswordGroup.querySelector("input").value = "";
        newPasswordGroup.querySelector("input").value = "";
      }

      if (response.status === 400) {
        if (data?.errors?.oldPassword) {
          oldPasswordGroup.querySelector("input").classList.add("is-invalid");
          oldPasswordGroup
            .querySelector(".invalid-feedback")
            .classList.add("d-block");
          oldPasswordGroup.querySelector(".invalid-feedback").textContent =
            data?.errors?.oldPassword;
        }
        if (data?.errors?.newPassword) {
          newPasswordGroup.querySelector("input").classList.add("is-invalid");
          newPasswordGroup
            .querySelector(".invalid-feedback")
            .classList.add("d-block");
          newPasswordGroup.querySelector(".invalid-feedback").textContent =
            data?.errors?.newPassword;
        }
      }
    });
  </script>

  <script>
    const editMobileNumberButton = document.querySelector(
      "#editMobileNumberBtn"
    );
    const emergencyContactButton = document.querySelector(
      "#editEmergencyContactBtn"
    );
    const editAddressBtn = document.querySelector("#editAddressBtn");
    const editForm = document.querySelector("#editModal").querySelector("form");
    const editAddressForm = document
      .querySelector("#editAddressModal")
      .querySelector("form");
    const label = editForm.querySelector("label");
    const input = editForm.querySelector("input");
    const addressTextarea = editAddressForm.querySelector("textarea");
    const addressFeedback = editAddressForm.querySelector(".invalid-feedback");
    const feedback = editForm.querySelector(".invalid-feedback");
    editForm.addEventListener("submit", (event) => {
      event.preventDefault();
      const form = new FormData(event.target);
      sendUpdate(form);
    });
    editAddressForm.addEventListener("submit", (event) => {
      event.preventDefault();
      const form = new FormData(event.target);
      sendUpdate(form);
    });

    const sendUpdate = async (formData) => {
      input.classList.remove("is-invalid");
      feedback.classList.remove("d-block");
      try {
        const response = await fetch("/clients/profile", {
          method: "PATCH",
          body: formData,
          headers: new Headers({ "X-CSRF-Token": "{{.csrf}}" }),
        });
        const { data } = await response.json();
        if (response.status >= 400) {
          if (data?.errors) {
            if (data?.errors?.mobileNumber) {
              input.classList.add("is-invalid");
              feedback.classList.add("d-block");
              feedback.innerText = data?.errors?.mobileNumber;
            }
            if (data?.errors?.emergencyContact) {
              input.classList.add("is-invalid");
              feedback.classList.add("d-block");
              feedback.innerText = data?.errors?.emergencyContact;
            }
          }
          return;
        }
        $("#editModal").modal("hide");
        $("#editAddressModal").modal("hide");
        await Swal.fire(
          "Profile Updated",
          "Profile has been updated.",
          "success"
        );

        location.reload();
      } catch (error) {
        console.error(error);
      }
    };
    if (editMobileNumberButton) {
      editMobileNumberButton.addEventListener("click", () => {
        $("#editModal").modal("show");
        label.innerText = "Mobile number";
        input.name = "mobileNumber";
      });
    }
    if (emergencyContactButton) {
      emergencyContactButton.addEventListener("click", () => {
        $("#editModal").modal("show");
        label.innerText = "Emergency contact";
        input.name = "emergencyContact";
      });
    }
    if (editAddressBtn) {
      editAddressBtn.addEventListener("click", () => {
        $("#editAddressModal").modal("show");
      });
    }
  </script>
  <script>
    FilePond.registerPlugin(FilePondPluginImagePreview);
    FilePond.registerPlugin(FilePondPluginFileRename);
    FilePond.registerPlugin(FilePondPluginFileValidateType);
    FilePond.registerPlugin(FilePondPluginFileValidateSize);
    const fp = FilePond.create(document.querySelector("#avatarUpload"), {
      labelIdle:
        "Drag and drop your avatar here, or click this to update avatar.",
      maxFiles: 1,

      allowMultiple: false,
      allowFileTypeValidation: true,
      acceptedFileTypes: ["image/png", "image/jpeg", "image/jpg"],
      server: {
        url: "/clients/profile/avatar",
        headers: {
          "X-CSRF-Token": "{{.csrf}}",
        },
      },
    });
    fp.on("processfile", () => {
      location.reload();
    });
  </script>

  <script>
    const showpasswordCheckbox = document.querySelector("#showPasswordChk");
    const passwordInputs = document.querySelectorAll('input[type="password"]');
    showpasswordCheckbox?.addEventListener("change", (event) => {
      const isChecked = event.target.checked;
      for (const input of passwordInputs) {
        input.type = isChecked ? "text" : "password";
      }
    });
  </script>
</html>
{{end}}
