{{define "client/profile/password-panel"}}
<div class="mt-4 p-3">
  <form id="changePasswordForm">
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input type="password" name="oldPassword" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" name="newPassword" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{end}}
