{{define "coach/profile/password-panel"}}
<div class="mt-4 p-3">
  <form id="changePasswordForm">
    <div class="form-group" id="oldPasswordGrp">
      <label for="oldPassword">Old Password</label>
      <input type="password" name="oldPassword" class="form-control" />
      <div class="invalid-feedback"></div>
    </div>
    <div class="form-group" id="newPasswordGrp">
      <label for="password">New Password</label>
      <input type="password" name="newPassword" class="form-control" />
      <div class="invalid-feedback"></div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{end}}
