{{define "partials/sb-scripts"}}
<!-- Bootstrap core JavaScript-->
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/bootstrap/4/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages -->
<script src="/js/sb-admin/sb-admin-2.min.js"></script>
<script src="/js/datatables/jquery.datatables.min.js"></script>
<script src="/js/swal/swal2.all.min.js"></script>
<script src="/js/vue/vue.global.prod.js"></script>
<script>
  const navItems = document.querySelectorAll(".nav-item");
  for (const item of navItems) {
    const collapse = item.querySelector(".collapse");
    if (!collapse) continue;

    const collapseInner = collapse.querySelector(".collapse-inner");
    if (!collapseInner) continue;

    if (collapseInner.children.length === 0) item.remove();
  }
  const collapsesInitial = [];
  const loadCollapses = () => {
    try {
      const storageCollapses = localStorage.getItem("shownCollapses");
      if (!storageCollapses) {
        localStorage.setItem(
          "shownCollapses",
          JSON.stringify(collapsesInitial)
        );
        return collapsesInitial;
      }

      return JSON.parse(storageCollapses);
    } catch (error) {
      console.error(error);
    }
  };
  const initializeCollapses = () => {
    const collapses = loadCollapses();
    for (const c of collapses) {
      $(`#${c}`).addClass("show");
    }
  };
  initializeCollapses();
  window.addEventListener("load", () => {
    $(".collapse").on("shown.bs.collapse", function (e) {
      const collapses = loadCollapses();
      collapses.push(e.currentTarget.id);
      localStorage.setItem("shownCollapses", JSON.stringify(collapses));
    });
    $(".collapse").on("hide.bs.collapse", function (e) {
      const collapses = loadCollapses().filter((c) => e.currentTarget.id != c);
      localStorage.setItem("shownCollapses", JSON.stringify(collapses));
    });
    $("#sidebarToggle").on("click", function (e) {
      const sidebar = $(".sidebar");
      if (sidebar.hasClass("toggled")) {
        sidebar.removeClass("toggled");
        return;
      }
      sidebar.addClass("toggled");
    });
    $("#sidebarToggleTop").on("click", function (e) {
      const sidebar = $(".sidebar");
      if (sidebar.hasClass("toggled")) {
        sidebar.removeClass("toggled");
        return;
      }
      sidebar.addClass("toggled");
    });
  });
</script>
{{end}}
