{{define "partials/sidebar"}}

<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Lift Gym</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/app/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Modules</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseOffers"
      aria-expanded="false"
      aria-controls="collapseOffers"
    >
      <i class="fas fa-dumbbell"></i>
      <span>Offers</span>
    </a>
    <div
      id="collapseOffers"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" href="/app/packages">Packages</a>
        <a class="collapse-item" href="/app/memberships">Membership Plans</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseClients"
      aria-expanded="false"
      aria-controls="collapseClients"
    >
      <i class="fas fa-user"></i>
      <span>Clients</span>
    </a>
    <div
      id="collapseClients"
      class="collapse"
      aria-labelledby="collapseClients"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/app/clients">Clients</a>
        <a class="collapse-item" href="/app/clients/registration">New Client</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseMembers"
      aria-expanded="false"
      aria-controls="collapseMembers"
    >
      <i class="fas fa-users"></i>
      <span>Members</span>
    </a>
    <div
      id="collapseMembers"
      class="collapse"
      aria-labelledby="collapseMembers"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/app/members">Members</a>
        <a class="collapse-item" href="/app/membership-requests"
          >Members Requests</a
        >
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseCoaches"
      aria-expanded="false"
      aria-controls="collapseCoaches"
    >
      <i class="fas fa-chalkboard"></i>
      <span>Coaches</span>
    </a>
    <div
      id="collapseCoaches"
      class="collapse"
      aria-labelledby="collapseCoaches"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/app/coaches">Coaches</a>
        <a class="collapse-item" href="/app/coaches/registration">New Coach</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>

{{end}}
