{{define "partials/sidebar"}}

<ul
  class="navbar-nav bg-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Lift Gym</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/app/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading" id="modulesHeading">Modules</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseOffers"
      aria-expanded="false"
      aria-controls="collapseOffers"
    >
      <i class="fas fa-dumbbell"></i>
      <span>Offers</span>
    </a>
    <div
      id="collapseOffers"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->

        {{if hasPermission "Package.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/packages">Packages</a>
        {{end}} {{if hasPermission "MembershipPlan.Read"
        .currentUser.Permissions}}
        <a class="collapse-item" href="/app/memberships">Membership Plans</a>
        {{end}}
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseClients"
      aria-expanded="false"
      aria-controls="collapseClients"
    >
      <i class="fas fa-user"></i>
      <span>Clients</span>
    </a>
    <div
      id="collapseClients"
      class="collapse"
      aria-labelledby="collapseClients"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        {{if hasPermission "Client.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/clients">Clients</a>
        {{end}} {{if hasPermission "Client.Create" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/clients/registration">New Client</a>
        {{end}} {{if hasPermission "ClientLog.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/client-logs">Client Logs</a>
        {{end}}
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseMembers"
      aria-expanded="false"
      aria-controls="collapseMembers"
    >
      <i class="fas fa-users"></i>
      <span>Members</span>
    </a>
    <div
      id="collapseMembers"
      class="collapse"
      aria-labelledby="collapseMembers"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        {{if hasPermission "Member.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/members">Members</a>
        {{end}} {{if hasPermission "MembershipRequest.Read"
        .currentUser.Permissions}}
        <a class="collapse-item" href="/app/membership-requests"
          >Membership Requests</a
        >
        {{end}}
      </div>
    </div>
  </li>
  {{if hasPermission "PackageRequest.Read" .currentUser.Permissions}}
  <li class="nav-item">
    <a class="nav-link" href="/app/package-requests">
      <i class="fas fa-box-open"></i>
      <span>Package Requests</span></a
    >
  </li>
  {{end}}

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseReservations"
      aria-expanded="false"
      aria-controls="collapseReservations"
    >
      <i class="fas fa-clipboard-list"></i>
      <span>Reservations</span>
    </a>
    <div
      id="collapseReservations"
      class="collapse"
      aria-labelledby="collapseReservations"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        {{if hasPermission "DateSlot.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/date-slots">Date Slots</a>
        {{end}} {{if hasPermission "TimeSlot.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/time-slots">Time Slots</a>
        {{end}} {{if hasPermission "Reservation.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/reservations">Reservations</a>
        {{end}}
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseCoaches"
      aria-expanded="false"
      aria-controls="collapseCoaches"
    >
      <i class="fas fa-chalkboard"></i>
      <span>Coaches</span>
    </a>
    <div
      id="collapseCoaches"
      class="collapse"
      aria-labelledby="collapseCoaches"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        {{if hasPermission "Coach.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/coaches">Coaches</a>
        {{end}} {{if hasPermission "Coach.Create" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/coaches/registration">New Coach</a>
        {{end}}
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseWorkouts"
      aria-expanded="false"
      aria-controls="collapseWorkouts"
    >
      <i class="fas fa-list"></i>
      <span>Workouts</span>
    </a>
    <div
      id="collapseWorkouts"
      class="collapse"
      aria-labelledby="collapseCoaches"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        {{if hasPermission "WorkoutCategory.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/workouts/categories">Categories</a>
        {{end}} {{if hasPermission "Workout.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/workouts">Workouts</a>
        {{end}}
      </div>
    </div>
  </li>
  {{if hasPermission "Inventory.Read" .currentUser.Permissions}}
  <li class="nav-item">
    <a class="nav-link" href="/app/inventory">
      <i class="fas fa-box"></i>
      <span>Inventory</span></a
    >
  </li>
  {{end}}

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseAcl"
      aria-expanded="false"
      aria-controls="collapseAcl"
    >
      <i class="fas fa-list"></i>
      <span>Access Control</span>
    </a>
    <div
      id="collapseAcl"
      class="collapse"
      aria-labelledby="collapseAcl"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        {{if hasPermission "Staff.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/staffs">Staffs</a>
        {{end}} {{if hasPermission "Role.Read" .currentUser.Permissions}}
        <a class="collapse-item" href="/app/roles">Roles</a>
        {{end}}
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/app/profile">
      <i class="fas fa-user"></i>
      <span>Profile</span></a
    >
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>

{{end}}
