{{define "client/workouts/main"}}
<!DOCTYPE html>
<html lang="en">
  {{template "partials/sb-head" .}}

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      {{template "partials/client/sidebar" .}}
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          {{template "partials/client/dashboard-topbar"}}
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            {{template "partials/dashboard-page-heading" .}}

            <!-- Content Row -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  List of Workout Categories
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Workout Category</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      {{range $category := .categories}}
                      <tr>
                        <td>{{$category.Name}}</td>
                        <td>
                          <a
                            href="/clients/workouts/{{$category.Id}}"
                            class="btn btn-outline-primary"
                            data-toggle="tooltip"
                            title="View Workouts"
                          >
                            <i class="fas fa-eye"></i>
                          </a>
                        </td>
                      </tr>

                      {{end}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Content Row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </body>

  {{template "partials/sb-scripts"}}
</html>
{{end}}
