{{define "client/registration/main"}}
<!DOCTYPE html>
<html lang="en">
  {{template "partials/sb-head" .}}
  <body style="background-color: #03060f">
    <div
      class="d-flex align-items-center justify-content-center"
      id="RegistrationPage"
      style="height: 100vh; background-color: #03060f"
    >
      <div class="card text-center" v-if="displaySuccessMessage">
        <div class="card-body">
          <i class="fas fa-check-circle text-success h1"></i>
          <h5 class="card-title">Registration Completed</h5>
          <p class="card-text">
            You are now registered. Please verify your email in order gain
            access to other features.
          </p>
          <a href="/clients/login" class="btn btn-primary"
            >Sign In
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div
        class="border-0 shadow-lg w-100 h-100"
        v-if="!displaySuccessMessage"
        style="background-color: #03060f"
      >
        <div class="h-100">
          <!-- Nested Row within Card Body -->
          <div class="d-flex h-100">
            <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
            <div
              class="col-lg-6 bg-white d-flex align-items-center justify-content-center"
            >
              <div class="p-5 w-100" style="max-width: 600px">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form @submit.prevent="onSubmit">
                  <div class="form-group">
                    <label>Given name</label>
                    <input
                      type="text"
                      class="form-control form-control-user"
                      name="givenName"
                      :value="form.givenName"
                      @input="handleFormInput"
                      :class="{'is-invalid': errors?.givenName}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.givenName}"
                    >
                      {errors?.givenName}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Middle name</label>
                    <input
                      type="text"
                      name="middleName"
                      class="form-control form-control-user"
                      :value="form.middleName"
                      @input="handleFormInput"
                      placeholder="Optional"
                      :class="{'is-invalid': errors?.middleName}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.middleName}"
                    >
                      {errors?.middleName}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Surname</label>
                    <input
                      type="text"
                      name="surname"
                      class="form-control form-control-user"
                      :value="form.surname"
                      @input="handleFormInput"
                      :class="{'is-invalid': errors?.surname}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.surname}"
                    >
                      {errors?.surname}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control form-control-user"
                      :value="form.email"
                      @input="handleFormInput"
                      :class="{'is-invalid': errors?.email}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.email}"
                    >
                      {errors?.email}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Date of birth</label>
                    <input
                      type="date"
                      name="dateOfBirth"
                      :value="form.dateOfBirth"
                      @input="handleFormInput"
                      class="form-control form-control-user"
                      placeholder="Date of birth"
                      :class="{'is-invalid': errors?.dateOfBirth}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.dataOfBirth}"
                    >
                      {errors?.dateOfBirth}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="gender" class="col-form-label">Gender</label>
                    <select
                      class="form-control"
                      name="gender"
                      :value="form.gender"
                      @input="handleFormInput"
                      :class="{'is-invalid' : errors?.gender }"
                    >
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                      <option value="prefer not to answer">
                        Prefer not to answer
                      </option>
                    </select>
                    <div class="invalid-feedback d-block">{errors?.gender}</div>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input
                      v-if="!showPassword"
                      type="password"
                      name="password"
                      class="form-control form-control-user"
                      :value="form.password"
                      @input="handleFormInput"
                      :class="{'is-invalid': errors?.password}"
                    />
                    <input
                      v-else
                      type="text"
                      name="password"
                      class="form-control form-control-user"
                      :value="form.password"
                      @input="handleFormInput"
                      :class="{'is-invalid': errors?.password}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.password}"
                    >
                      {errors?.password}
                    </div>
                    <div
                      class="d-flex align-items-center py-2"
                      style="gap: 5px"
                    >
                      <input type="checkbox" v-model="showPassword" />
                      <label style="margin-bottom: 0">Show Password</label>
                    </div>
                  </div>
                  <button
                    type="submit"
                    :disabled="isSubmitting"
                    class="btn btn-primary btn-user btn-block"
                  >
                    Register Account
                  </button>
                  <hr />
                </form>

                <div class="text-center">
                  <a class="small" href="/clients/login"
                    >Already have an account? Login!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    window.csrf = "{{.csrf}}";
  </script>
  {{template "partials/sb-scripts"}}
  <script src="/js/client/registration/main.js"></script>
</html>
{{end}}
