{{define "client/registration/main"}}
<!DOCTYPE html>
<html lang="en">
  {{template "partials/sb-head" .}}
  <body class="bg-primary">
    <div
      class="d-flex align-items-center justify-content-center"
      id="RegistrationPage"
      style="min-height: 100vh"
    >
      <div class="card text-center" v-if="displaySuccessMessage">
        <div class="card-body">
          <i class="fas fa-check-circle text-success h1"></i>
          <h5 class="card-title">Registration Completed</h5>
          <p class="card-text">
            You are now registered. Please verify your email in order gain
            access to other features.
          </p>
          <a href="/clients/login" class="btn btn-primary"
            >Sign In
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div
        class="card o-hidden border-0 shadow-lg my-5 col-12 col-md-8"
        v-if="!displaySuccessMessage"
      >
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form @submit.prevent="onSubmit">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      v-bind="givenName"
                      placeholder="Given name"
                      :class="{'is-invalid': errors?.givenName}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.givenName}"
                    >
                      {errors?.givenName}
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      placeholder="Middle name"
                      v-bind="middleName"
                      :class="{'is-invalid': errors?.middleName}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.middleName}"
                    >
                      {errors?.middleName}
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      placeholder="Surname"
                      v-bind="surname"
                      :class="{'is-invalid': errors?.surname}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.surname}"
                    >
                      {errors?.surname}
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      placeholder="Email Address"
                      v-bind="email"
                      :class="{'is-invalid': errors?.email}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.email}"
                    >
                      {errors?.email}
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control form-control-user"
                      placeholder="Date of birth"
                      v-bind="dateOfBirth"
                      :class="{'is-invalid': errors?.dateOfBirth}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.dataOfBirth}"
                    >
                      {errors?.dateOfBirth}
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      v-bind="password"
                      placeholder="Password"
                      :class="{'is-invalid': errors?.password}"
                    />
                    <div
                      class="invalid-feedback"
                      :class="{'d-block': errors?.password}"
                    >
                      {errors?.password}
                    </div>
                  </div>
                  <button
                    type="submit"
                    :disabled="isSubmitting"
                    class="btn btn-primary btn-user btn-block"
                  >
                    Register Account
                  </button>
                  <hr />
                </form>
                <hr />

                <div class="text-center">
                  <a class="small" href="/clients/login"
                    >Already have an account? Login!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    window.csrf = "{{.csrf}}";
  </script>
  {{template "partials/sb-scripts"}}
  <script src="/js/client/registration/main.js"></script>
</html>
{{end}}
