{{define "admin/package-request/main"}}
<!DOCTYPE html>
<html lang="en">
  {{template "partials/sb-head" .}}

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      {{template "partials/client/sidebar" .}}
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          {{template "partials/client/dashboard-topbar"}}
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid" id="PackageRequest">
            {{template "partials/dashboard-page-heading" .}}

            <!-- DataTables Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  List of Requests
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Remarks</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <template v-for="request of packageRequests">
                        <tr>
                          <td>
                            {request.client.givenName} {request.client.surname}
                          </td>
                          <td>{request.package.description}</td>
                          <td>{request.package.price}</td>
                          <td
                            class="font-weight-bold"
                            :class="{'text-warning': request.statusId === Status.Pending, 
                            'text-primary': request.statusId === Status.Approved,
                             'text-success': request.statusId === Status.Received, 
                             'text-danger': request.statusId === Status.Cancelled}"
                          >
                            <div>{request.status}</div>

                            <small v-if="request.statusId === Status.Pending"
                              >Waiting for your approval.</small
                            >
                            <small v-if="request.statusId === Status.Approved"
                              >Request has been approved. Waiting for
                              payment.</small
                            >
                            <small v-if="request.statusId === Status.Received"
                              >Package has been paid and received by
                              client.</small
                            >
                          </td>
                          <td>
                            {request.remarks.length === 0 ? "No remarks" :
                            request.remarks}
                          </td>
                          <td>
                            <div class="d-flex" style="gap: 5px">
                              <button
                                v-if="request.statusId === Status.Pending"
                                class="btn btn-outline-primary"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Approve Request"
                                @click="initApproval(request.id)"
                              >
                                <i class="fas fa-thumbs-up"></i>
                              </button>
                              <button
                                v-if="request.statusId === Status.Approved"
                                class="btn btn-outline-success"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Mark as Received: Mark this if payment has been made and package is received by client."
                                @click="initMarkAsReceived(request.id)"
                              >
                                <i class="fas fa-check"></i>
                              </button>
                              <button
                                v-if="request.statusId != Status.Received && request.statusId != Status.Cancelled"
                                type="button"
                                class="btn btn-outline-danger"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Cancel Membership Request"
                                @click="initCancellation(request.id)"
                              >
                                <i class="fas fa-trash"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </body>

  {{template "partials/sb-scripts"}}
  <script src="/js/admin/package-request/main.js"></script>
  <script>
    window.csrf = "{{.csrf}}";
  </script>
</html>
{{end}}
