{{define "admin/inventory/add-equipment-modal"}}
<div
  class="modal fade"
  id="addEquipmentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addEquipmentModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Item</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form @submit.prevent="onSubmitNew">
          <div class="form-group">
            <label for="name" class="col-form-label">Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              v-bind="name"
              :class="{'is-invalid': errors?.name}"
            />

            <div class="invalid-feedback" :class="{'d-block': errors?.name}">
              {errors?.name}
            </div>
          </div>
          <div class="form-group">
            <label for="model" class="col-form-label">Make/Model</label>
            <input
              type="text"
              name="model"
              class="form-control"
              v-bind="model"
              :class="{'is-invalid': errors?.model}"
            />

            <div class="invalid-feedback" :class="{'d-block': errors?.model}">
              {errors?.model}
            </div>
          </div>
          <div class="form-group">
            <label for="quantity" class="col-form-label">Quantity</label>
            <input
              type="number"
              name="quantity"
              class="form-control"
              v-bind="quantity"
              :class="{'is-invalid': errors?.quantity}"
            />

            <div
              class="invalid-feedback"
              :class="{'d-block': errors?.quantity}"
            >
              {errors?.quantity}
            </div>
          </div>

          <div class="form-group">
            <label for="quantity" class="col-form-label">Condition (%)</label>
            <input
              type="number"
              name="condition"
              class="form-control"
              v-bind="condition"
              :class="{'is-invalid': errors?.condition}"
            />
            <div
              class="invalid-feedback"
              :class="{'d-block': errors.condition}"
            >
              {errors?.condition}
            </div>
          </div>
          <div class="form-group">
            <label for="quantity" class="col-form-label"
              >Condition Threshold (%)</label
            >
            <input
              type="number"
              name="conditionThreshold"
              class="form-control"
              v-bind="conditionThreshold"
              :class="{'is-invalid': errors?.conditionThreshold}"
            />
            <div
              class="invalid-feedback"
              :class="{'d-block': errors.conditionThreshold}"
            >
              {errors?.conditionThreshold}
            </div>
          </div>
          <div class="form-group">
            <label for="quantityThreshold" class="col-form-label"
              >Quantity Threshold</label
            >
            <input
              type="number"
              name="quantityThreshold"
              class="form-control"
              v-bind="quantityThreshold"
              :class="{'is-invalid': errors?.quantityThreshold}"
            />
            <div
              class="invalid-feedback"
              :class="{'d-block': errors?.quantityThreshold}"
            >
              {errors?.quantityThreshold}
            </div>
          </div>
          <div class="form-group">
            <label for="costPrice" class="col-form-label">Cost Price</label>
            <input
              type="number"
              step=".01"
              name="costPrice"
              v-bind="costPrice"
              class="form-control"
            />

            <div
              class="invalid-feedback"
              :class="{'d-block': errors?.costPrice}"
            >
              {errors?.costPrice}
            </div>
          </div>
          <div class="form-group">
            <label for="dateReceived" class="col-form-label"
              >Date Received</label
            >
            <input
              type="date"
              name="dateReceived"
              v-bind="dateReceived"
              class="form-control"
              :class="{'is-invalid': errors?.dateReceived}"
            />

            <div
              class="invalid-feedback"
              :class="{'d-block': errors?.dateReceived}"
            >
              {errors?.dateReceived}
            </div>
          </div>
          <div class="form-group">
            <label for="imageFile" class="col-form-label">Image</label>
            <input
              type="file"
              name="imageFile"
              @change="handleImageSelect"
              class="d-block"
            />
            <div
              class="invalid-feedback"
              :class="{'d-block': errors?.imageFile}"
            >
              {errors?.imageFile}
            </div>
          </div>
          <button :disabled="isLoading" type="submit" class="btn btn-primary">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
