{{define "public/password/change-password"}}
<!DOCTYPE html>
<html lang="en">
  {{template "partials/sb-head" .}}

  <body class="bg-primary" style="height: 100vh">
    <div id="ChangePassword" class="h-100">
      <div
        class="d-flex align-items-center justify-content-center"
        style="height: 100vh"
        v-if="displaySuccessMessage"
      >
        <!-- Outer Row -->
        <div class="row justify-content-center">
          <div class="card text-center">
            <div class="card-body">
              <i class="fas fa-check-circle text-success h1"></i>
              <h5 class="card-title">Password Changed.</h5>
              <p class="card-text">
                Your password has been successfully updated. You can now access
                your account using your new password. Welcome back!
              </p>
              <a href="{{.redirectUrl}}" class="btn btn-primary"
                >Sign In
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div v-if="!displaySuccessMessage" class="h-100">
        <div class="h-100">
          <div class="p-0 h-100">
            <!-- Nested Row within Card Body -->
            <div class="d-flex h-100">
              <div
                class="col-lg-6 d-none d-lg-block bg-password-image"
                style="background-color: #03060f"
              ></div>
              <div
                class="col-lg-6 bg-white d-flex align-items-center justify-content-center"
              >
                <div class="p-5" style="max-width: 650px">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Change Password</h1>
                    <p class="mb-4">
                      Please take a moment to update your password. Ensure that
                      you select a strong and secure password for your account.
                    </p>
                  </div>
                  <form @submit.prevent="onSubmit">
                    <div class="form-group">
                      <input
                        v-if="!showPassword"
                        type="password"
                        v-model="formValue.password"
                        class="form-control form-control-user"
                        name="password"
                        aria-describedby="emailHelp"
                        placeholder="Enter new password"
                        :class="{'is-invalid': errors?.password}"
                      />
                      <input
                        v-else
                        type="text"
                        v-model="formValue.password"
                        class="form-control form-control-user"
                        name="password"
                        aria-describedby="emailHelp"
                        placeholder="Enter new
                      password"
                        :class="{'is-invalid': errors?.password}"
                      />
                      <div
                        class="invalid-feedback"
                        :class="{'d-block': errors?.password}"
                      >
                        {errors?.password}
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        v-if="!showPassword"
                        type="password"
                        v-model="formValue.confirmPassword"
                        class="form-control form-control-user"
                        name="confirmPassword"
                        aria-describedby="emailHelp"
                        placeholder="Confirm new password"
                        :class="{'is-invalid': errors?.confirmPassword}"
                      />
                      <input
                        v-else
                        type="text"
                        v-model="formValue.confirmPassword"
                        class="form-control form-control-user"
                        name="confirmPassword"
                        aria-describedby="emailHelp"
                        placeholder="Confirm new password"
                        :class="{'is-invalid': errors?.confirmPassword}"
                      />
                      <div
                        class="invalid-feedback"
                        :class="{'d-block': errors?.confirmPassword}"
                      >
                        {errors?.confirmPassword}
                      </div>
                    </div>
                    <div
                      class="form-group d-flex ml-2"
                      style="gap: 5px; align-items: center"
                    >
                      <input type="checkbox" v-model="showPassword" />
                      <span> Show Password </span>
                    </div>
                    <button class="btn btn-primary btn-user btn-block">
                      Update Password
                    </button>
                  </form>
                  <hr />
                  <!-- <div class="text-center">
                      <a class="small" href="register.html"
                        >Create an Account!</a
                      >
                    </div>
                    <div class="text-center">
                      <a class="small" href="login.html"
                        >Already have an account? Login!</a
                      >
                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{template "partials/sb-scripts" .}}
    <script>
      window.csrf = "{{.csrf}}";
    </script>
    <script src="/js/public/password/change-password/main.js"></script>
  </body>
</html>
{{end}}
