{{define "admin/membership-plan/edit-membership-plan-modal"}}

<div
  class="modal fade"
  id="editMembershipPlanModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editMembershipPlanModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Membership Plan</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form @submit.prevent="onSubmitUpdateMembershipPlan">
          <div class="form-group">
            <label for="description" class="col-form-label">Description</label>
            <textarea
              class="form-control"
              name="description"
              v-model="editMembershipPlanForm.description"
              :class="{'is-invalid':editMembershipPlanErrors.description.length > 0}"
            ></textarea>

            <div
              class="invalid-feedback"
              :class="{'d-block':editMembershipPlanErrors.description.length > 0}"
            >
              { editMembershipPlanErrors.description }
            </div>
          </div>
          <div class="form-group">
            <label for="price" class="col-form-label">Price</label>
            <input
              type="number"
              class="form-control"
              name="price"
              step=".01"
              :class="{'is-invalid':editMembershipPlanErrors.price.length > 0}"
              v-model="editMembershipPlanForm.price"
            />
            <div
              class="invalid-feedback"
              :class="{'d-block':editMembershipPlanErrors.price.length > 0}"
            >
              { editMembershipPlanErrors.price }
            </div>
          </div>
          <div class="form-group">
            <label for="price" class="col-form-label">Months</label>
            <input
              type="number"
              class="form-control"
              name="months"
              :class="{'is-invalid':editMembershipPlanErrors.months.length > 0}"
              v-model="editMembershipPlanForm.months"
            />
            <div
              class="invalid-feedback"
              :class="{'d-block':editMembershipPlanErrors.months.length > 0}"
            >
              { editMembershipPlanErrors.months }
            </div>
          </div>
          <div class="d-flex" style="gap: 5px">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Update Plan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
