{{define "partials/error/403-page"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/sb-admin/sb-admin-2.min.css" />
    <title>403 | Forbidden</title>
  </head>
  <body>
    <div
      style="
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="text-center">
        <div class="error mx-auto">403</div>
        <p class="lead text-gray-800 mb-5">Forbidden</p>
        <p class="text-gray-500 mb-0">You are not allowed to view this page.</p>
        <!-- <a href="/clients/login">&larr; Back to Sign In</a> -->
      </div>
    </div>
  </body>
</html>
{{end}}
