{{define "admin/login/main"}}
<!DOCTYPE html>
<html lang="en">
  {{template "partials/sb-head"}}

  <body style="background-color: #03060F;" id="LoginPage">
    <div style="height: 100vh">
      <!-- Outer Row -->
              <div class="row" style="height: 100vh;">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6 bg-white d-flex flex-column align-items-center justify-content-center">
                  <div class="w-100 d-flex flex-column align-items-center justify-content-center p-3">
                    <div class="d-flex flex-column align-items-center justify-content-center w-100">
                    
                    <img src="/images/logo-nav.png" style="height: 30px; width: 30px" />
                      <h1 class="h4 text-gray-900 mb-4 mt-2">Sign In to Lift Gym</h1>
                      <div
                        class="alert alert-danger w-100"
                        style="max-width: 500px;"
                        role="alert"
                        v-show="message.length > 0"
                      >
                        {message}
                      </div>
                    </div>
                    <form class="user w-100" @submit.prevent="onSubmit" style="max-width: 500px;" >
                      <div class="form-group">
                        <input
                          type="email"
                          v-model="loginForm.email"
                          class="form-control form-control-user"
                          id="email"
                          name="email"
                          aria-describedby="emailHelp"
                          placeholder="Enter Email Address..."
                          required
                        />
                      </div>
                      <div class="form-group">
                        <input
                          v-if="!showPassword"
                          type="password"
                          v-model="loginForm.password"
                          class="form-control form-control-user"
                          name="password"
                          id="password"
                          required
                          placeholder="Password"
                        />

                       <input
                        v-else
                        type="text"
                        v-model="loginForm.password"
                        class="form-control form-control-user"
                        name="password"
                        id="password"
                        required
                        placeholder="Password"
                      />
                      </div>
                    <div class="form-group d-flex ml-2" style="gap: 5px; align-items: center;" >
                      <input
                        type="checkbox"
                        v-model="showPassword"
                      />
                      <span >
                        Show Password </span>
                    </div>
                      <button type="submit" class="btn btn-primary btn-block">
                        Sign In
                      </button>
                    </form>
                    <hr />
                    <div class="text-center mt-1">
                      <a class="small" href="/app/reset-password"
                        >Forgot Password?</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    {{template "partials/sb-scripts"}}
  </body>
  <script>
    const csrf = "{{.csrf}}";
    const { createApp, ref, onMounted } = Vue;
    createApp({
      setup() {
        loginForm = ref({
          email: "",
          password: "",
        });
        const showPassword = ref(false)
        message = ref("");
        const onSubmit = async () => {
          try {
            message.value = "";
            const response = await fetch("/app/login", {
              body: JSON.stringify(loginForm.value),
              method: "POST",
              headers: new Headers({
                "content-type": "application/json",
                "X-CSRF-Token": csrf,
              }),
            });
            const data = await response.json();
            if (response.status === 200) {
              location.replace("/app/dashboard");
            } else {
              message.value = data?.message ?? "";
            }
          } catch (error) {
            console.error(error);
          }
        };

        return {
          loginForm,
          onSubmit,
          message,
          showPassword
        };
      },
      compilerOptions: {
        delimiters: ["{", "}"],
      },
    }).mount("#LoginPage");
  </script>
</html>
{{end}}
