{{define "partials/client/sidebar"}}

<ul
  class="navbar-nav bg-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Lift Gym</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/clients/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <li class="nav-item">
    <a class="nav-link" href="/clients/membership-requests">
      <i class="fa fa-list" aria-hidden="true"></i>
      <span>Membership Requests</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients/hired-coaches">
      <i class="far fa-calendar"></i>
      <span>Coach Appointments</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients/reservations">
      <i class="far fa-calendar"></i>
      <span>Reservations</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients/package-requests">
      <i class="fas fa-box-open"></i>
      <span>Package Requests</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients/hire-a-coach">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <span>Hire a coach</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients/dashboard">
      <i class="fa fa-history" aria-hidden="true"></i>
      <span>Payment History</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients/workouts">
      <i class="fas fa-dumbbell"></i>
      <span>Workouts</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients/profile">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span>Profile</span></a
    >
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>

{{end}}
