{{define "client/login/main"}}
<!DOCTYPE html>
<html lang="en">
  {{template "partials/sb-head"}}

  <style></style>
  <body style="background-color: #03060F;" id="LoginPage">    
    <div style="height: 100vh">
      <!-- Outer Row -->
              <div class="row" style="height: 100vh;">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6 bg-white d-flex flex-column align-items-center justify-content-center">
                  <div class="w-100 d-flex flex-column align-items-center justify-content-center p-3">
                    <div class="d-flex flex-column align-items-center justify-content-center w-100">
                    
                    <img src="/images/logo-nav.png" style="height: 30px; width: 30px" />
                      <h1 class="h4 text-gray-900 mb-4 mt-2">Sign In to Lift Gym</h1>
                      <div
                        class="alert alert-danger w-100"
                        style="max-width: 500px;"
                        role="alert"
                        v-show="message.length > 0"
                      >
                        {message}
                      </div>
                    </div>
                    <form class="user w-100" @submit.prevent="onSubmit" style="max-width: 500px;" >
                      <div class="form-group">
                        <input
                          type="email"
                          v-model="form.email"
                          class="form-control form-control-user"
                          id="email"
                          name="email"
                          aria-describedby="emailHelp"
                          placeholder="Enter Email Address..."
                          required
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          v-model="form.password"
                          class="form-control form-control-user"
                          name="password"
                          id="password"
                          required
                          placeholder="Password"
                        />
                      </div>
                      <button type="submit" class="btn btn-primary btn-block">
                        Sign In
                      </button>
                    </form>
                 
                    </form>
                 
                    <div class="text-center mt-1">
                      <a class="small" href="/clients/reset-password"
                        >Forgot Password?</a
                      >
                    </div>
                    
                  <div class="text-center">
                    <a class="small" href="/clients/registration"
                      >Don't have an account? Sign Up!</a
                    >
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    {{template "partials/sb-scripts"}}
  </body>
  {{template "partials/scripts"}}
  <script>
    window.csrf = "{{.csrf}}";
  </script>
  <script src="/js/client/login/main.js"></script>
</html>

{{end}}
