{{define "client/reservation/reservation-panel"}}
<div class="table-responsive mt-3">
  <table
    class="table table-bordered"
    id="dataTable"
    width="100%"
    cellspacing="0"
  >
    <thead>
      <tr>
        <th>Reservation Id</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th>Remarks</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <template v-for="reservation of reservations">
        <tr>
          <td class="font-weight-bold">{reservation.reservationId}</td>
          <td>{formatDate(reservation.date)}</td>
          <td>{reservation.time}</td>
          <td>{reservation.status}</td>
          <td>
            {reservation.remarks.length === 0 ? "No remarks." :
            reservation.remarks}
          </td>
          <td>
            <button
              v-if="isCancellable(reservation)"
              class="btn btn-outline-danger cancel-btn"
              data-toggle="tooltip"
              title="Cancel Reservation"
              @click="initCancellation(reservation.id)"
            >
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</div>

{{end}}
