{{define "client/reservation/reservation-panel"}}
<div class="table-responsive mt-3">
  <table
    class="table table-bordered"
    id="dataTable"
    width="100%"
    cellspacing="0"
  >
    <thead>
      <tr>
        <th>Reservation Id</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      <template v-for="reservation of reservations">
        <tr>
          <td class="font-weight-bold">{reservation.reservationId}</td>
          <td>{reservation.date}</td>
          <td>{reservation.time}</td>
        </tr>
      </template>
    </tbody>
  </table>
</div>

{{end}}
